order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="customerType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="phoneNumber" type="xs:string"/>
            <xs:element name="emailAddress" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element name="product" type="xs:string"/>
            <xs:element name="quantity" type="xs:int"/>
            <xs:element name="price" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="itemsType">
        <xs:sequence>
            <xs:element name="item" type="itemType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="orderType">
        <xs:sequence>
            <xs:element name="customer" type="customerType"/>
            <xs:element name="invoiceNumber" type="xs:string"/>
            <xs:element name="orderDate" type="xs:date"/>
            <xs:element name="deliveryDate" type="xs:date"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="items" type="itemsType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="order" type="orderType"/>

</xs:schema>